@model PMANews.Areas.Identity.Data.Post
@using Microsoft.AspNetCore.Identity
@using PMANews.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container justify-content-md-center text-left">
    <div class="col-sm-8">
        @if (@UserManager.GetUserName(User) == @Model.Author.UserName)
        {
            <div class="row">
                <a class="card-link text-success" asp-action="Edit" asp-route-id="@Model.Id">Uredi</a>
                <a class="card-link text-danger text-muted" asp-action="Delete" asp-route-id="@Model.Id">Obriši</a>
            </div>
        }
        <hr />
        <div class="row">
            <div class="blog-main">
                <div class="blog-post">
                    <h4 class="blog-post-title" id="title"> @Html.DisplayFor(model => model.Title) </h4>
                    <p class="blog-post-meta" id="date"> @Html.DisplayFor(model => model.DateCreated) by &commat;@Html.DisplayFor(model => model.Author.UserName) </p>
                    <hr>
                    <p id="content">  @Html.DisplayFor(model => model.Content) </p>
                </div><!-- /.blog-post -->
            </div> <!-- /.blog-main -->
        </div>  <!-- /.row -->
        <hr />
        <hr />
        <div>
            <form class="AddComment">
                <div class="form-group">
                    <div class="form-group">
                        <textarea id="@string.Format("{0}_{1}", "comment", @Model.Id)" required="" class="form-control" placeholder="Ovdje napišite svoj komentar..." style="height:80px;width:100%;"></textarea>
                        <span class="text-danger"></span>
                    </div><!-- .form-group -->
                    <div class="form-group">
                        <button type="button" class="btn btn-default Comment" data-id="@Model.Id" value="Comment">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Prikaži komentare
                        </button>
                        <input type="button" value="Komentiraj" class="btn btn-primary addComment" data-id="@Model.Id" />
                    </div><!-- .form-group -->
                </div><!-- .form-group -->
            </form>
        </div><!-- .col-md-8 -->
        <div id="@string.Format("{0}_{1}","commentsBlock", @Model.Id)"></div>
    </div><!-- col-sm-8 -->
</div>


<script type="text/javascript">
    'use strict';
    window.onload = setUp();
    function setUp() {
        var t = document.getElementById('content').innerHTML;
        t = t.replace(/(\r\n|\n|\r)/gm, "<br>");
        document.getElementById('content').innerHTML = t;
    }

    $(document).ready(function ()
    {
            //Click Comment
            $('.Comment').on('click', function () {
                var id = $(this).attr("data-id");
                var allCommentsArea = $('<div>').addClass('allComments_' + id);
                //function that allow us to get all comments related to post id
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetComments", "Comments")',
                    data: { postId: id },
                    success: function (response) {

                        if ($('div').hasClass('allComments_' + id + ''))
                        {
                            $('div[class=allComments_' + id + ']').remove();
                        }
                        allCommentsArea.html(response);
                        allCommentsArea.prependTo('#commentsBlock_' + id);

                    },
                    error: function (response) {
                        alert('Sorry: Comments cannot be loaded !');
                    }
                })
            });

            //Add New Comment
            $('.addComment').on('click', function () {
                var postId = $(this).attr('data-id');
                var comment_content = $('#comment_' + postId).val();
                var dateTimeNow = new Date();
                //alert('Hello');
                var comment = {
                    CommContent: comment_content,
                    DateCreated: dateTimeNow.toLocaleString()
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddComment", "Comments")',
                    data: { comment, postId },
                    success: function (response) {
                        $('div[class=allComments_' + postId + ']').remove();
                        var allCommentsArea = $('<div>').addClass('allComments_' + postId);
                        allCommentsArea.html(response);
                        allCommentsArea.prependTo('#commentsBlock_' + postId);
                    },
                    error: function (response) {
                        alert('Sorry: Something Wrong');
                    }
                });
            });

            jQuery("time.timeago").timeago();
    });
</script>