@model PMFNotes.Areas.Identity.Data.CoursePageModel

@{
    ViewData["Title"] = "Course Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">

        <div class="col-md-3 card-deck">
            <div class="card justify-content-center">
            <div class="card-header mb-2">
                <a class="card-link text-success text-decoration-none float-right" asp-controller="PostFile" asp-action="Create" asp-route-courseid="@ViewBag.courseID">Objavi PDF</a>
                <a class="card-link text-success text-muted text-decoration-none float-right mr-2" asp-controller="PostFile" asp-action="Index" asp-route-id="@ViewBag.courseID">All Files </a>
            </div>
                <!--
        <div class="text-center mb-2 mt-2">
            <a asp-controller="PostFile" asp-action="Index" asp-route-id="@ViewBag.courseID">
                <img src="~/img/pdf.png" asp-append-version="true" class="Img">
            </a>
        </div>
            -->


                <div class="card-body text-right">
                    <ul class="list-group list-group-flush">

                        @if (Model.PostFiles.Count == 0 | Model.PostFiles == null)
                        {
                            <li class="list-group-item">
                                <a class="text-muted text-decoration-none">  Nema file-ova. </a>
                            </li>
                        }
                        @foreach (var item in Model.PostFiles)
                        {
                            <li class="list-group-item">
                                <a class="text-light text-muted text-decoration-none" asp-controller="PostFile" asp-action="DownloadFile" asp-route-filePath="@item.FilePath">  @Html.DisplayFor(modelItem => item.Title) </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container-fluid justify-content-center text-left">
                <div class="card-header mb-2">
                    @ViewBag.courseName
                    <a class="card-link text-danger text-muted text-decoration-none float-right" asp-controller="CourseApplicationUser" asp-action="QuitCourse" asp-route-id="@ViewBag.courseUserId">Napusti kolegij</a>
                    <a class="card-link text-success text-decoration-none float-right mr-2" asp-controller="Posts" asp-action="Create" asp-route-courseid="@ViewBag.courseID"> Nova objava</a>

                </div>

                @if (Model.Posts.Count == 0 | Model.Posts == null)
                {
                    <div class="card mb-2">
                        <div class="card-body">
                            <h6 class="card-subtitle text-muted"> Nema objava. </h6>
                        </div><!-- .card-body -->
                    </div><!-- .card -->
                }
                @foreach (var item in Model.Posts)
                {
                    <div class="list-group">
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="card-title mb-1">@Html.DisplayFor(modelItem => item.Title)</h4>
                                <small class="text-muted">@Html.DisplayFor(modelItem => item.DateCreated)</small>
                            </div>
                            <p class="mb-1">@Html.DisplayFor(modelItem => item.Content)</p>
                        </a>
                    </div>
                }
            </div>
        </div>


        <div class="col-md-3 card-deck">
            <div class="card justify-content-center">
                <div class="card-header mb-2">
                    <a class="card-link text-success text-decoration-none float-left mr-2" asp-controller="PostImage" asp-action="Create" asp-route-courseid="@ViewBag.courseID">Objavi PNG</a>
                    <a class="card-link text-success text-muted text-decoration-none float-left" asp-controller="PostImage" asp-action="Index" asp-route-id="@ViewBag.courseID">All Images </a>
                </div>
                <div class="card-body text-left">
                    <ul class="list-group list-group-flush">
                        @if (Model.PostImages.Count == 0 | Model.PostImages == null)
                        {
                            <li class="list-group-item">
                                <a class="text-muted text-decoration-none">  Nema slika. </a>
                            </li>
                        }
                        @foreach (var item in Model.PostImages)
                        {
                            <li class="list-group-item">
                                <a class="text-light text-muted text-decoration-none" asp-controller="PostImage" asp-action="DownloadPngFileFromDB" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.Title) </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            </div>


    </div>
    <style type="text/css">
        .Img {
            max-height: 120px;
            max-width: 120px;
        }
    </style>