@model IEnumerable<PMANews.Areas.Identity.Data.Course>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Popis svih kolegija PMF-a
                </th>
                <th>
                    Odjel
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-controller="Course" asp-action="Index" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name) </a>
                </td>
                <td>
                    <a asp-controller="Department" asp-action="IndexCourses" asp-route-id="@item.DepartmentId"> @Html.DisplayFor(modelItem => item.Department.Name) </a>
                </td>
                <td>
                    <a asp-controller="Course" asp-action="EnroleCourse" asp-route-id="@item.Id">Dodaj kolegij</a>
                </td>
                <!--
    <td>
        <a asp-controller="PostImage" asp-action="IndexCourse" asp-route-id="@item.Id">Images</a>
    </td>
    <td>
        <a asp-controller="PostFile" asp-action="IndexCourse" asp-route-id="@item.Id">Files</a>
    </td>
    -->
            </tr>
            }
        </tbody>
    </table>
